* {
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #F52C2C;
}

.btn {
    padding: 15px 35px;
    border: none;
    font-size: 16px;
    margin: 5px;

}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b6b6b6;
    padding: 15px;
}

.left-area {
    display: flex;
    align-items: center;
}

.left-area h5 {
    color: #00FFFF;
    font-size: 18px;
}

.logo-text {
    color: #8ae6d2;
    font-size: 20px;
    font-weight: bold;

}

.right-area ul {
    display: flex;
}

.right-area ul li {
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
}

/* banner-section styles */
.banner-section {
    background-image: url("../asset/image/background.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    background-blend-mode: overlay;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.digital-banner .title {
    font-size: 86px;
    font-weight: 900;
    color: white;
}

.digital-banner .description {
    width: 40%;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    padding: 10px;
}

.btn-more {
    background-color: #F52C2C;
    color: #fff;
}

/* service-section */

.service-section{
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(to bottom, rgba(0, 0, 0,1), rgba(0, 0, 0, 0.8));
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-attachment: fixed;
    padding-bottom: 120px;

}
.service-left{
    width: 40%;
}
.service-btn{
    color: gray;
    border-radius: 25px;
}
.sercie-article h2{
    font-size: 40px;
    font-weight: bold;
    color: #BECFD0;
}
.sercie-article p{
    color: #BECFD0;
    width: 90%;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}
.sercie-article li{
    font-size: 20px;
    color: #BECFD0;
    margin-bottom: 10px;
    list-style: none;
}

.author{
    display: flex;
    align-items: center;
}

.author-left{
    display: flex;
    margin-right: 10px;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid  #F52C2C;;
}

.author-left img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 5px;
}

.more-details-btn{
    border-radius: 25px;
    color: #F52C2C;
}

.service-right{
    display: flex;
}
.service{
    background-color: white;
    color: #000;
    padding: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 4px 4px 8px rgb(26 24 24);
}

.service-right img{
    width: 100px;
    padding: 20px;
}

/* appointment-section styles */

.appointment-section{
    width: 65%;
    background-color: #F52C2C;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -7%;
    border-radius: 15px;
}
.call-box{
    display: flex;
    align-items: center;
}
.call-logo img{
    width: 90px;
}
.call-content{
    color: white;
    padding: 15px 20px;
    border-right: 2px solid gray;
}
.call-content h3{ 
    font-size: 18px;
}
.appointment-descript{
    color: white;
    font-size: 16px;
    margin: 0 10px;
    text-align: center;

}
.btn-apponit{
    width: 240px;
    border-radius: 25px;
}


/* blog-section styles */
.blog-section{
    width: 100%;
    text-align: center;
    padding-bottom: 200px;
}
.blog-title{
    margin: 40px 0;
}
.blog-title h2{
    font-size: 40px;
}
.blog-title p{
    width: 45%;
    margin: 0 auto;
    font-size: 23px;
}

.blog-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.item{
    width: 350px;
    height: 430px;
    background-color: white;
    box-shadow: 4px 4px 8px grey;
    border-radius: 10px;
}

.item img{
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
}
.blog-text{
    padding:10px 10px 0px 20px;
    text-align: left;
}
.blog-text h3{
    font-size: 22px;
    margin-bottom: 5px;
}
.blog-text p{
    font-size: 18px;
    line-height: 22px;
}